/* Footer */
footer {
    clear: both;
    margin-top: 2em;
    margin-bottom: 40px;   /* space after footer */
    padding-bottom: 20px; /* extra breathing room */
}


/* Footer navigation links */
.links a {
    margin-right: 1em;
}

/* Footer copyrights */
.copy {
    color: #aaa;
    text-align: center;
}
